html,
body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0%;
    background: url(images/Schermafbeelding\ 2025-10-29\ 143323.png);
     background-size: cover;
  background-position: center;   
  background-repeat: no-repeat; 
  background-attachment: fixed;  
  height: 100vh;                 
  margin: 0;        
}

*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

h2 {
    color: #C5BABA;
    font-size: 1.5vw;
}

header {
    background-color: #405E65;
    width: 100vw;
    height:fit-content;
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}


h1 {
    color: white;
    margin-left: 5%;
    font-size: 2vw;
}

.base {
    background-color: #263548;
    gap: 1vw;
    margin-top: 5%;
    margin-left: 5%;
    width: clamp(50px, 90vw, 5000px);
    height: 40vh;
    border-radius: 30px;
display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 20% 45% 30%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "title . ."
    "mail phone git"
    "mailtext phonetext gittext"; 
align-items: center;
justify-items: center;
text-align:center ;}

    .title{grid-area:title;
    margin-top:10% ;}

    .mail{grid-area:mail ;}

    .mailtekst{grid-area:mailtext ;}

    .phone{grid-area:phone;}

    .phonetekst{grid-area:phonetext;}

    .github{grid-area:git;}

    .gittekst{grid-area:gittext;}

.base:hover {
    background-color: #2a859a;
    transition: 0.3s;
}

.base:active {
    background-color: #206474;
    transition: 0.3s;
}

p {
    color: #C5BABA;
    font-size: 2vh;
}

nav {
    color: #D9D9D9;
    display: inline;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 2%;
    margin-top: 5vh;
    margin-right: 2vw;
}

a{color: #C5BABA;
    font-size: 2vh;
    text-decoration: none;
}

a:hover {
    color: #58bbcfd4;
    text-decoration: wavy;
    text-decoration: none;
    transition: 0.3s;
    font-size: large;
}

a:active {
    color: #52657f;
    text-decoration: none;
    font-size: x-large;
}

a:visited {
    color: #a9acb4;
    text-decoration: none;
}

img{height:70%;
border:1px solid #206474;
border-radius:30%; }

@media screen and (max-width: 700px) {

    img {
        height:40% ;
    }

    .base2 {height:fit-content ;}

}

@media screen and (max-width: 500px) {

    img {
        height:30% ;
    }

    .base2 {height:fit-content ;}

}

label{display: flex;
flex-direction: column;
color: #C5BABA;
    font-size: 2vh;
opacity:90%;
width: 100%;
margin-left:3%;}

input{background-color: #2a859a;
color: #C5BABA;
    font-size: 2vh;
border:solid 1px #263548;
border-radius:33px;
width:95%;
height:4vh;}

textarea{background-color: #2a859a;
color: #C5BABA;
    font-size: 2vh;
border:solid 1px #263548;
border-radius:10px;
width:95%;
height:10vh;
}


.bevestig{background-color: #2a859a;
color: #C5BABA;
    font-size: 2vh;
height: 6vh;
width:80%;
border:solid 1px #263548;
border-radius:33px;
grid-area: button;
margin-left: 10%;
margin-top: 2%;}

.bevestig:hover{background-color: #35adc8;
color: #fffdfd;
    font-size: 2.5vh;
height:6.5vh ;
width:82%;
transition: 0.5s;}

.bevestig:active{background-color: #01d0ff;
color: #fffdfd;
    font-size: 2.5vh;
height:5.9vh ;
width:79%;
transition: 0.3s;}

#base2{
display: grid; 
background-color: #263548;
    gap: 1vw;
    margin-top: 5%;
    margin-left: 5%;
    width: clamp(50px, 90vw, 5000px);
    border-radius: 30px;
  height:50vh;
  grid-auto-columns: 1fr; 
  grid-template-columns:  1fr ; 
  grid-template-rows: 20% 1fr ; 
  gap: 0px 0px; 
  grid-template-areas: 
    "title "
    " label1 "
    ; 
    justify-items: stretch;
}

.label1{grid-area:label1;}

.label2{grid-area:label2;}

.title2{grid-area: title;}





