html,
body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0%;
    font-family: 'Montserrat', Arial, sans-serif;
    background: url(images/Schermafbeelding\ 2025-10-29\ 143323.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #C5BABA;
    font-size: 1.5vw;
}

header {
    background-color: #405E65;
    width: 100vw;
    height: clamp(30px, 15vh, 300px);
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}


h1 {
    color: white;
    margin-left: 5%;
    font-size: 2vw;
}


.base {
    background-color: #263548;
    gap: 1vw;
    margin-top: 5%;
    margin-left: 5%;
    width: clamp(50px, 90vw, 5000px);
    height: 30vh;
    border-radius: 30px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 0px 0px;
    grid-template-areas:
        "title title . img"
        "text text text img";
}

@media screen and (max-width: 800px) {

    .mij {
        display: none;
    }

}

.title {
    grid-area: title;
}

.text {
    grid-area: text;
    padding: 3%;
    padding-right: 10%;
    margin-right: 5%;
}

.overmij {
    margin-top: 10vh;
}

.base:hover {
    background-color: #2a859a;
    transition: 0.3s;
}

.base:active {
    background-color: #206474;
    transition: 0.3s;
}

p {
    color: #C5BABA;
    font-size: 1vw;
}

nav {
    color: #D9D9D9;
    display: inline;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 2%;
    margin-top: 5vh;
    margin-right: 2vw;
}

.link:hover {
    color: #58bbcfd4;
    text-decoration: wavy;
    text-decoration: underline;
    transition: 0.3s;
    font-size: xx-large;
}

.link:active {
    color: #52657f;
    text-decoration: none;
    font-size: x-large;
}

.link:visited {
    color: #a9acb4;
    text-decoration: none;
}

.mij {
    border: 2px solid #293e42;
    border-bottom-right-radius: 33px;
    border-top-right-radius: 33px;
    grid-area: img;
    height: 100%;
    width: 100%;
    max-height: 1000px;
}

#base2 {
    height: 40vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .75fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "title2 title2 title2 ."
        "html css java desing";
}

.title2 {
    grid-area: title2;
}

.htmlimg {
    grid-area: html;
}

.cssimg {
    grid-area: css;
}

.javaimg {
    grid-area: java;
}

.disingimg {
    grid-area: desing;
}

.erv {
    width: 80%;
    max-width: 400px;
    height: 60%;
    padding: 3%;
}

@media screen and (max-height: 700px) {

    .erv {
        height:50% ;
    }

    .base2 {height:fit-content ;}

}

.base3{height:25vh;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: .75fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "title3"
    "tekst2";  }

    .title3{grid-area:title3;}

    .tekst2{grid-area:tekst2;
    padding-left: 5%;}