html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    margin: 0%;
    background: url(images/Schermafbeelding\ 2025-10-29\ 143323.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

h1 {
    color: white;
    margin-left: 5%;
    font-size: 2vw;
}

header {
    background-color: #405E65;
    width: 100vw;
    height: fit-content;
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.base {
    background-color: #263548;
    display: flex;
    gap: 1vw;
    border-radius: 30px;
    justify-content: flex-end;
    align-items: center;
    width: clamp(100px, 90vw, 5000px);
    height: clamp(70vh, 70vh, 2500px);
    margin: auto;
    margin-top: 3%;
    padding: 0%;
}

.base:hover {
    background-color: #2a859a;
    transition: 0.3s;
}

.base:active {
    background-color: #206474;
    transition: 0.3s;
}

.end3 {
    width: 10vw;
    height: clamp(70vh, 70vh, 2500px);
    background-color: #5D5757;
    opacity: 60%;
    border: solid 0px;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    margin-left: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

nav {
    color: #D9D9D9;
    display: inline;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 2%;
    margin-top: 2vh;
    margin-right: 3%;
}


.link {
    text-decoration: none;
    padding: 3%;
}

.link:hover {
    color: #58bbcfd4;
    text-decoration: wavy;
    text-decoration: none;
    transition: 0.3s;
    font-size: large;
}

.link:active {
    color: #52657f;
    text-decoration: none;
    font-size: x-large;
}

.link:visited {
    color: #a9acb4;
    text-decoration: none;
}

.goededoel {
    width: fit-content;
    height: 15vw;
    margin-top: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D9D9D9;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.5vh;
    margin: -15%;
    margin-left: 10%;
}

.goededoelimg {
    width: 15vw;
    height: 17.5vw;
    border: 1px solid #206474;
    border-radius: 45%;
}

.goededoel:hover {
    height: 17.5vw;
    color: aqua;
    transition: 0.5s;
}

.goededoel:active {
    height: 18.5vw;
    color: rgb(11, 162, 162);
    transition: 0.2s;
}