        body{background-color:slategray; }

        h1{color:rgb(104, 91, 203); text-align:center; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:300%;}
        h2{color:rgb(104, 91, 203); text-align:center; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:200%;}
        h6{color:rgb(104, 91, 203); text-align:center; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:100%;}

        div{ text-align:center; 
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position:fixed; width:190px; height:80;
        top:105px; left:1080px; 
        background-color: cornflowerblue;
        border-right-color: darkblue;
        border-radius: 30px;}

        header{background-color:rgb(10, 13, 84); }

        nav{background-color:rgb(100, 91, 203); }
        p{color:whitesmoke;}
        nav ul{list-style-type:circle; margin:0; padding:0; overflow:hidden; }
        
        main{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color:rgb(104, 91, 203);}
        footer{background-color:rgb(10, 13, 84); }
        aside{background-color:cornflowerblue; border-radius:30px; margin:20px; padding:20px;}
        img {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
        
