html,
body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0%;
    background: url(/images/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    font-family: "Futara";
}

@font-face {
  font-family: "Futara";
  src: url(/Font/FuturaCyrillicBold.ttf);
}

h1 {
    color: white;
    margin-left: 5%;
    font-size: 2vw;
}

header {
  background-color: #405e65;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.base {
    background-color: #263548;
    display: flex;
    gap: 1vw;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    width: clamp(100px, 90vw, 5000px);
    height: clamp(70vh, 70vh, 2500px);
    margin: auto;
    margin-top: 3%;
    padding: 0%;
}

.base:hover {
  background-color: #48575a;
  transition: 0.3s;
}

.base:active {
  background-color: #272e30;
  transition: 0.3s;
}

nav {
  color: #d9d9d9;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-family: "Futara";
  margin-top: 5vh;
  margin-right: 5vw;
  gap: 2vw;
}

.link {
  font-size: 1.5vw;
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  color: #58bbcfd4;
  text-decoration: wavy;
  text-decoration: none;
  transition: 0.3s;
}

.link:active {
  color: #52657f;
  text-decoration: none;
}

.link:visited {
  color: #ffffff;
  text-decoration: none;
}

.goededoel{background-color: black;
height: 60%;
width:20%;
border-radius: 25%;}

.goededoelimg{width:100%;
height: auto;
margin-top:-4%;
border-radius: 25%;}

.gamecraft{background-color: black;
height: 63.5%;
width:20%;
border-radius: 25%;}

.gamecraftimg{width:100%;
height: auto;
margin-top: 35%;
margin-bottom:40%;}

.game{background-color: black;
height: 63.5%;
width:20%;
border-radius: 25%;}

.gameimg{width:100%;
height: auto;
margin-top: 25%;
margin-bottom:25%;}

h3{text-align: center;
color: #ffffff;}

button {
  background-color: #21365fd2;
  color: white;
  border-radius: 50px;
  margin-top: 50%;
}

button:hover {
  background-color: #272e30;
  transition: 0.3s;
}

@media screen and (max-height:575px){
    .gamecraftimg{margin-bottom:45%;}
    .gameimg     {margin-bottom:25%;}
}

@media screen and (min-height:688px) {
    .goededoel{height:63% ;}
    .goededoelimg{height: 70%;}
    .base{margin-top: 8%;}
}

@media screen and (max-height:700px) {
    .base{height:400px;
    margin-top:10% ;}
}

@media screen and (max-height:800px) {
    .goededoelimg{height: 80%;}
    .gamecraftimg{margin-bottom: 0%;}
    .gameimg{margin-bottom: 0%;}
}

@media screen and (min-height:800px) {
    .base{
    margin-top:5%;
  margin-bottom: 5%;}
    .goededoelimg{margin-top: 15%;
    height: 25vw;}
}

@media screen and (max-width:850px) {
    .proj{width: 40%;
         border-radius: 10%;}
    .goededoelimg{margin-top: 0%;
    height: 100%;}
    .gameimg{margin-top:0%;}
    .gamecraftimg{margin-top:15%;}
    .base{height:70%;}
     button{margin-top:-10%;}
    nav{flex-direction: column;
    margin-top:2%;}

.link{font-size:2.5vw;}
 h1{font-size:3vw;}}

@media screen and (min-width:1000px) {
.base{height:550px;}
.gamecraftimg{margin-top:10%;}
.gameimg{margin-top:0%;}
.goededoelimg{margin-top:15%;
height: 20vw;}
}
